@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300&family=Source+Sans+3:wght@700&display=swap");
/*font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Source Sans 3', sans-serif;*/
* {
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  font-family: "Roboto", sans-serif;
  border: 1px solid black;
  background-color: #ffffff;
  list-style: none;
  font-size: large;
  width: 100%;
  height: 100px;
}

.botonReserva {
  background-color: white;
  border-radius: 2rem;
  height: 50px;
  width: 7%;
  font-weight: bolder;
  border-color: #485c54;
  transition: color 1s;
}

.botonReserva:hover {
  background-color: #b5bfb9;
  font-size: larger;
}

.fa-solid {
  color: #485c54;
}
.fa-solid:hover {
  cursor: pointer;
}

li > a {
  color: black;
  text-decoration: none;
  text-align: center;
  font-weight: 900;
  transition: color 0.3s;
}

a:hover {
  cursor: pointer;
  color: #485c54;
  font-weight: bold;
}

.logo {
  height: 75px;
  width: 18%;
}

.logo:hover {
  cursor: pointer;
}

#video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 90%;
  z-index: -10;
  visibility: visible;
  background-size: cover;
  object-fit: cover;
}

p {
  color: white;
  text-shadow: 4px 4px 4px #333;
  text-align: center;
  margin-top: 400px;
  font-family: "Open Sans", sans-serif;
  font-size: xx-large;
}

.containerVideo {
  width: 100%;
  height: 765px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerBotonesVideo {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}

.containerBotonesVideo > * {
  width: 70%;
  height: 3rem;
  text-align: center;
  cursor: pointer;
}

.containerBotonesVideo :first-child {
  border-radius: 25px 0px 0px 25px;
}

.containerBotonesVideo :last-child {
  border-radius: 0px 25px 25px 0px;
  font-weight: bold;
  background-color: #ffd42c;
}

.container3 {
  display: flex;
  width: 100%;
  height: 70px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  gap: 2em;
  padding-right: 3em;
}

.container3 > * {
  background-color: #b5bfb9;
  color: #485c54;
  border-radius: 2rem;
  height: 50px;
  width: 7%;
  font-weight: bolder;
  border: 2px solid #485c54;
  transition: color 1s;
}
