@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300&family=Source+Sans+3:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,900&display=swap");

/*font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Source Sans 3', sans-serif;
font-family: 'Lato', sans-serif;
clave api: AIzaSyBgO4RHfFL2jeebWxd782foattL9GDl6co*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  font-family: "Roboto", sans-serif;
  border: 1px solid black;
  background-color: #ffffff;
  list-style: none;
  font-size: large;
  width: 100%;
  height: auto;
  margin: 0;
}

.botonReserva {
  border-radius: 30px;
  color: #485c54;
  height: auto;
  width: auto;
  padding: 0.5rem;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  border: 2px solid black;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

.botonReserva:hover {
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
  color: #000;
  background-color: #ffd42c;
  border: 2px solid #ffd42c;
}

.fa-solid {
  color: #485c54;
}

.fa-solid:hover {
  cursor: pointer;
}

li > a {
  color: black;
  text-decoration: none;
  text-align: center;
  font-weight: 900;
  transition: color 0.3s;
}

li a:hover {
  cursor: pointer;
  color: #485c54;
  font-weight: bold;
}

.logo {
  height: 75px;
  width: 15%;
}

.logo:hover {
  cursor: pointer;
}

#video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: visible;
  background-size: cover;
  object-fit: cover;
}

.slogan {
  color: white;
  text-shadow: 4px 4px 4px #333;
  text-align: center;
  font-style: italic;
  font-weight: 900;
  font-family: "Lato", sans-serif;
  font-size: 3cm;
  line-height: 1.2;
}

.containerVideo {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 10;
  overflow: hidden;
}

.container2Video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  z-index: 11;
}

.containerBotonesVideo {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}

.containerBotonesVideo > * {
  width: 70%;
  height: 3rem;
  text-align: center;
  cursor: pointer;
  border: 1px solid black;
}

.containerBotonesVideo :last-child {
  font-weight: bold;
  font-size: larger;
  background-color: #ffd42c;
}

.container3 {
  display: flex;
  width: 100%;
  height: 70px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 2em;
  padding-right: 2em;
  position: fixed;
  bottom: 9px;
  right: 6px;
  z-index: 9;
}

.botonExterior {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  background-color: #fff;
  padding: 6px 9px;
  border-radius: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  border: 2px solid black;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  height: 3rem;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

.botonExterior:hover {
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
  color: #000;
  background-color: #ffd42c;
  border: 2px solid #ffd42c;
}

.enlaceBoton {
  text-decoration: none;
  color: black;
}

.botonInterior > i {
  color: black;
  margin-left: 0.5em;
}

.botonInterior > span {
  font-weight: bolder;
  font-size: larger;
}

.container4exterior {
  width: 100%;
  height: auto;
  padding: 3em;
  background-color: #485c54;
  color: #fff;
}

.container4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.9fr;
  gap: 2em;
  grid-template-areas: "1 2 3 4";
  z-index: 8;
}

.item-1 {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.containerItem2 {
  max-height: 70%;
  overflow: hidden;
}

.item2 {
  height: 100%;
  width: 100%;
  transition: transform 0.5s ease-out;
  transform-origin: center;
}

.item2:hover {
  transition: transform 0.5s ease-in;
  transform: scale(1.2);
}

.containerTexto {
  padding: 1em;
}

.textoContainer4 {
  color: white;
  position: absolute;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
}

.textoContainer4:hover {
  background-size: 100% 2px;
}

.parrafoContainer4 {
  margin-top: 3em;
  font-family: "Lato", sans-serif;
}

.titulo {
  font-weight: 600;
  font-family: "Lato", sans-serif;
  font-size: 2em;
}

.subtitulo {
  font-family: "Lato", sans-serif;
  font-size: 1em;
}

.container5ext {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  color: black;
  text-align: center;
}

.container5int {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 5em;
  margin-bottom: 1.5rem;
}

.preSlider {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.imgPreSlider {
  width: 4em;
  height: 4em;
}

.parrafoPreSlider {
  font-family: "Lato", sans-serif;
  color: #485c54;
  font-size: 1em;
  font-weight: bold;
}

.btn-primary {
  border-color: #485c54 !important;
  background-color: #485c54 !important;
  font-weight: bold !important;
  margin-top: 2rem;
}

.boton {
  margin-left: auto;
  width: 15rem;
  height: 3rem;
}

/* swiper*/

.container {
  padding: 3em;
  height: 50%;
  width: 100%;
}

.container .swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: grab;
}

.container .swiper-slide {
  position: relative;
  text-align: start;
  font-size: 18px;
  background: #fff;
  border-radius: 15px;
  width: 33%;
  height: 33%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 15px;
}

.container .card-description {
  padding: 1rem;
}

.container .card-description .card-title,
.container .card-description .card-text {
  margin-bottom: 0.5rem;
}

.container .card-description .card-icons {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#mapa {
  height: 400px;
  width: 100%;
}

.container6ext {
  width: 100%;
  height: auto;
  padding: 3em;
  background-color: #efede8;
  color: #485c54;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container6int {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container6 {
  width: calc(100% / 5);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.icono6 {
  font-size: 3rem;
  transition: all 0.5s ease-out;
}

.icono6:hover {
  font-size: 4rem;
}

.parrafo6 {
  width: 50%;
}

.container7ext {
  width: 100%;
  height: auto;
  padding: 3em;
  background-color: #485c54;
  color: white;
  display: flex;
  flex-direction: row;
}

.container7int {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container7izq {
  width: 50%;
  border-bottom: 1px solid white;
}

.container7izq h1 {
  font-style: italic;
}

.container7dcha {
}
